@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i|Poppins:300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Forum");
@import url("https://fonts.googleapis.com/css?family=Cinzel:400,700,900|Josefin+Slab:100,100i,300,300i,400,400i,600,600i,700,700i|Marcellus|Nanum+Myeongjo:400,700,800|Old+Standard+TT:400,400i,700|Prata|Vidaloka");

@font-face{
  font-family: "Jolly";
  src: url("./fonts/jolly.ttf") format("truetype");
}

body {
  background: #ffffff;
  background-image: url("background.png");
    background-position: center;
  background-size: cover;
  margin: 0;
  color: white;
}

.subscribe-box {
  background: #9AB9A7;
  font-family: "Gothic A1", serif;
  padding: 6em 0;
  text-align: center;
  margin: auto;
  width: 608px;
  height: 800px;
}

.logo {
	color: #FFFFFF;
	font-family: Jolly;
	text-shadow: 2px 2px 4px #2A4540;
	font-size:4em;
}